.body-flex-container{
text-align: center;
}

.head-flex-container{
    background-color:  rgba(82, 82, 81, 0.5);
    padding:  10px;
}

.main-flex{
    display: flex;
    justify-content: space-between;
}

.main-section{
width: 70%;
background-color:  rgba(253, 192, 77, 0.5);
padding:20px;
}

.main-div-flex{
    display: flex; 
    justify-content: space-evenly;
    padding:30px;
}

.first-div{
    width:50%;
    padding:40px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(252, 164, 50, 0.5);
}

.second-div{
    width:50%;
    padding:40px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(252, 164, 50, 0.5);
}

.third-div{
    background-color: rgba(252, 164, 50, 0.5);
    padding:30px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
    
}

.aside-flex{
    display: flex;
    justify-content: center;
    width: 30%;
    padding:20px;
    background-color: rgba(7, 134, 53, 0.5);
    
}

.footer-flex-container{
    display: flex;
    justify-content: space-evenly;
    background-color:  rgba(82, 82, 81, 0.5);
}

.footer-section{
    background-color: rgb(255, 255, 255);
    padding:20px;
    margin: 10px;
}